<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Editar mi perfil</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="profile">
    <ion-card no-margin>
        <ion-card-content class="bg-profile">
            <img src="assets/img/avatar.jpeg">
            <h1 class="fw500">{{usuario.username}}</h1>
            <h2 color="light" margin-bottom>Usuario</h2>
            <ion-button icon-left color="secondary">
                <ion-icon name="photos"></ion-icon>
                Editar / Añadir Imagen
            </ion-button>
        </ion-card-content>

        <ion-grid fixed no-padding>
            <form>
                <ion-row>
                    <ion-col size="12" padding>
                        <form [formGroup]="usuarioForm">
                            <ion-list margin-bottom>
                                <ion-list-header color="light">
                                    <ion-label class="fw700">Datos personales</ion-label>
                                </ion-list-header>

                                <ion-item>
                                    <ion-label color="dark" position="stacked">Nombres:</ion-label>
                                    <ion-input inputmode="text" formControlName="name" placeholder="Ingrese sus nombres y apellidos"></ion-input>
                                </ion-item>
                                <p ion-text class="text08" *ngIf="f.name.touched && f.name.errors?.required">
                                    <ion-text color="warning">
                                        El nombre es requerido
                                    </ion-text>
                                </p>

                                <ion-item>
                                    <ion-label color="dark" position="stacked">Nombre de usuario:</ion-label>
                                    <ion-input inputmode="text" formControlName="username" placeholder="Ingrese un nombre de usuario"></ion-input>
                                </ion-item>
                                <p ion-text class="text08" *ngIf="f.username.touched && f.username.errors?.required">
                                    <ion-text color="warning">
                                        El nombre de usuario es requerido
                                    </ion-text>
                                </p>

                                <ion-item>
                                    <ion-label color="dark" position="stacked">Email:</ion-label>
                                    <ion-input inputmode="email" formControlName="email" placeholder="Ingrese su email"></ion-input>
                                </ion-item>
                                <div *ngIf="f.email.touched">
                                    <p ion-text class="text08" *ngIf="f.email.errors?.required">
                                        <ion-text color="warning">
                                            El email es requerido
                                        </ion-text>
                                    </p>
                                    <p ion-text class="text08" *ngIf="f.email.errors?.email">
                                        <ion-text color="warning">
                                            El formato del email es inválido
                                        </ion-text>
                                    </p>
                                </div>
                                <ion-item>
                                    <ion-label color="dark" position="stacked">Dirección:</ion-label>
                                    <ion-input inputmode="text" formControlName="direccion" placeholder="Ingrese su dirección"></ion-input>
                                </ion-item>
                                <p ion-text class="text08" *ngIf="f.direccion.touched && f.direccion.errors?.required">
                                    <ion-text color="warning">
                                        La dirección es requerida
                                    </ion-text>
                                </p>

                                <ion-item>
                                    <ion-label color="dark" position="stacked">Télefono:</ion-label>
                                    <ion-input inputmode="text" formControlName="telefono" placeholder="Ingrese su teléfono"></ion-input>
                                </ion-item>
                                <div *ngIf="f.telefono.touched">
                                    <p ion-text class="text08" *ngIf="f.telefono.errors?.required">
                                        <ion-text color="warning">
                                            El teléfono es requerido
                                        </ion-text>
                                    </p>
                                    <p ion-text class="text08" *ngIf="f.telefono.errors?.pattern">
                                        <ion-text color="warning">
                                            Sólo se permiten números
                                        </ion-text>
                                    </p>
                                    <p ion-text class="text08" *ngIf="f.telefono.errors?.maxlength">
                                        <ion-text color="warning">
                                            Máximo 10 caracteres
                                        </ion-text>
                                    </p>
                                    <p ion-text class="text08" *ngIf="f.telefono.errors?.minlength">
                                        <ion-text color="warning">
                                            Mínimo 10 caracteres
                                        </ion-text>
                                    </p>
                                </div>
                            </ion-list>
                        </form>
                    </ion-col>
                </ion-row>
            </form>

        </ion-grid>

        <ion-button size="large" expand="full" color="dark" (click)="sendData()" no-margin>Editar</ion-button>
    </ion-card>

    <div padding>
        <ion-text color="dark" no-margin>
            Al editar su perfil todos sus clientes verán inmediantamente su nueva información
        </ion-text>
    </div>
</ion-content>